h1{
    text-align: center;
}
body{
    background-color:rgb(97, 40, 68) ;
}
a{
    color: rgb(221, 218, 213) ;
}
p{
    text-align: center;
    color: rgb(138, 153, 2);
}
.centro{
    text-align: center;
}